<div id="sidebar">
    <div class="inner">

        {{!-- Nav - partials/navigation.hbs --}}
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}

        {{!-- Recent posts --}}
        <section>
            <header class="major">
                <h2>Recent Posts</h2>
            </header>
            <div class="mini-posts">
                {{!-- We're just grabbing the 3 latest posts here but you can change
                this to filter for a specific tag or order depending on what you want.
                More info: https://docs.ghost.org/api/handlebars-themes/helpers/get/ --}}
                {{#get "posts" limit="3" as |mini_post|}}
                    {{#foreach mini_post}}
                    <article>
                        <h3><a href="{{url}}">{{title}}</a></h3>
                        <p>{{excerpt words="15"}}</p>
                    </article>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>

        {{!-- Contact --}}
        {{#get "posts" slug="contact"as |contact|}}
            {{#if contact}}{{#foreach contact}}
                <section>
                    <header class="major">
                        <h2>{{title}}</h2>
                    </header>
                    {{content}}
                </section>
            {{/foreach}}{{/if}}
        {{/get}}

        {{!-- Footer --}}
        <footer id="footer">
            <p class="copyright">&copy; {{@site.title}} - All rights reserved<br>
            Design: <a href="https://html5up.net" target="_blank" rel="noopener">HTML5 UP</a>, Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
        </footer>

    </div>
</div>
