<a class="author-box" href="{{url}}">
    {{#if profile_image}}
    <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
    {{/if}}
    <section class="author-box-content">
        <div class="author-box-label">{{t "Author"}}</div>
        <h5 class="author-box-name">{{name}}</h5>
        {{#if bio}}
        <p>{{bio}}</p>
        {{else}}
        <p>{{t "Read more posts by this author"}}</p>
        {{/if}}
    </section>
</a>